html {
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.1rem;
}

h3 {
    font-size: 1.9rem;
}

h4 {
    font-size: 1.7rem;
}

label {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1vh;
}
.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: left;
    justify-content: left;
    justify-items: center;
    background-color: rgb(0, 0, 40);
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
    overflow-x: hidden;
}

.nav-item {
    color: white;
}

.menunav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: left;
    justify-content: left;
    justify-items: center;
    background-color: rgb(139, 138, 138);
    margin-bottom: 3vh;
}

.about-container {
    max-width: 900px;
}